<% provide(:title, "About") %>
<section class="section-margins">
  <div class="row">
    <div class="col-md-8">
      <h1 class="title">About</h1>
      <p>
        Hi there!
        <br><br>
        I'm glad you wanted to know a little bit more about this project &#128513;
        <br><br>
        Deployed is a tech themed social news and discussion website similar to Hacker News.
        Users can sign up for an account, create posts, and commenton topics to
        partake in discussion.
        <br><br>
        Ultimately, this project was something fun I wanted to make while learning Rails.
        <br><br>
        Created by Joshua Jon &#9996;
        <br>
        Github: <%= link_to nil, ('https://github.com/joshjon')%>
        <br><br>
      </p>
      <h1 class="title">API</h1>
      <p>
        Deployed also has its very own API.<br>
        The documentation can be found here: <%= link_to nil, ('https://github.com/joshjon/deployed')%>
      </p>
    </div>
  </div>
</section>
