<% provide(:title, "About") %>
<section class="section-margins">
  <div class="row">
    <div class="col-md-8">
      <h1 class="title">About</h1>
      <p>
        Hi there! I'm glad you wanted to know a little bit more about this project &#128513;
        <br><br>
        Deployed is basically something fun I wanted to try while learning Rails.
        The end product is meant to almost be as if Hacker News and Reddit fell
        in love and had a baby, then this website would be that cute little guy.
        <br><br>
        Feel free to check out my other stuff at <%= link_to "GitHub", ('https://github.com/JoshJon')%> &#9996;
        <br><br>
        - Joshua
      </p>
    </div>
  </div>
</section>
