@import "bootstrap-sprockets";
@import "bootstrap";

.all-news {
  margin-top: 13px;
  margin-bottom: 25px;

  .index {
    margin-right: 13px;
  }

  .indent {
    margin-left: 23px;
  }

  .title a{
    color: black;
    text-decoration: none;
  }
}
